.Fonaru {
	display: flex;
	flex-direction: column;
	gap: 24px;

	&__Status {
		display: flex;
		flex-direction: row;
		gap: 12px;
		align-items: center;

		&_ball {
			border: 2px solid black;
			width: 32px;
			height: 32px;
			border-radius: 50%;
		}

		p {
			font-size: 25px;
		}
	}
}